<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
</head>
<body>
    <h1>Rules</h1>
    <ol>
        <li>
            <strong>Obiectivul jocului:</strong> Scopul jocului este de a ghici numărul corect între 1 și un anumit limită superioară.
        </li>
        <li>
            <strong>Alegerea unui număr:</strong> Jucătorul trebuie să introducă un număr între 1 și limita superioară și să trimită răspunsul pentru a vedea dacă este corect sau nu.
        </li>
        <li>
            <strong>Feedback-ul răspunsului:</strong> După ce jucătorul trimite un răspuns, jocul îi va oferi feedback dacă numărul ales este prea mic, prea mare sau corect.
        </li>
        <li>
            <strong>Continuarea jocului:</strong> Jucătorul poate continua să introducă noi încercări până când ghicește numărul corect.
        </li>
        <li>
            <strong>Finalizarea jocului:</strong> Jocul se termină atunci când jucătorul ghicește corect numărul sau decide să iasă din joc.
        </li>
    </ol>
</body>
</html>